<div class="mypage-container">
  <h1 class="text-center my-4"><%= @user.name %> さんのマイページ</h1>
  <div class="container">
    <div class="row">
      <!-- 左カラム -->
      <div class="col-md-3">
        <div class="card mb-4 shadow-sm">
          <div class="card-body text-center">
            <% if @user.profile_image.attached? %>
              <%= image_tag @user.profile_image.variant(resize: "150x150").processed, class: "rounded-circle border mb-3" %>
            <% else %>
              <%= image_tag "no_image.jpg", class: "rounded-circle border mb-3", alt: "No Profile Image" %>
            <% end %>
            <h5 class="card-title"><%= @user.name %></h5>
            <p class="card-text text-muted mt-2">
              自己紹介: <%= @user.introduction.presence || "自己紹介が登録されていません。" %>
            </p>
            <p>フォロー中: <%= link_to "#{@user.following.size}", following_user_path(@user), class: 'text-decoration-none' %></p>
            <p>フォロワー: <%= link_to "#{@user.followers.size}", followers_user_path(@user), class: 'text-decoration-none' %></p>
            <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-sm mt-3' do %>
              <i class="fa-solid fa-pen-to-square"></i> プロフィールを編集
            <% end %>
          </div>
        </div>
      </div>

      <!-- 右カラム -->
      <div class="col-md-9">
        <%= render 'shared/post_list', posts: @posts %>
      </div>
    </div>
  </div>
</div>
