<div class="container mt-4">
  <h2 class="mb-4"><%= @user.name %> さんの<%= action_name == "following" ? "フォロー中" : "フォロワー" %></h2>

  <ul class="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item d-flex align-items-center">
        <% if user.profile_image.attached? %>
          <%= image_tag user.get_profile_image(50, 50), class: "rounded-circle mr-3", alt: "#{user.name}のプロフィール画像" %>
        <% else %>
          <%= image_tag "no_image.jpg", class: "rounded-circle mr-3", alt: "No Profile Image" %>
        <% end %>
        <div>
          <%= link_to user.name, user_path(user), class: 'text-decoration-none font-weight-bold' %>
          <p class="text-muted mb-0"><%= user.introduction.presence || "自己紹介が登録されていません。" %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
