<h1><%= @user.name %> の<%= action_name == 'following' ? 'フォロー' : 'フォロワー' %>リスト</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user_path(user) %>
      <% if current_user.following.include?(user) %>
        <%= button_to 'フォロー解除', relationship_path(user), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= button_to 'フォローする', relationships_path(followed_id: user.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to '戻る', user_path(@user), class: 'btn btn-secondary' %>
