<div class="card shadow-sm">
  <div class="card-body">
    <div class="mb-3">
      <%= link_to new_post_path, class: 'btn btn-primary btn-sm' do %>
        <i class="fa-solid fa-pen-to-square"></i> 新規投稿
      <% end %>
    </div>
    <ul class="list-unstyled">
      <% posts.each do |post| %>
        <li class="post-item mb-4 p-3 border rounded">
          <h4 class="post-title">
            <%= link_to post.title, post_path(post), class: "text-decoration-none text-dark" %>
          </h4>
          <p class="post-content"><%= truncate(post.content, length: 100) %></p>
          <p class="post-meta text-muted">
            投稿者: <%= link_to post.user.name, user_path(post.user), class: "text-decoration-none text-primary" %>
            ・<%= post.created_at.strftime("%Y年%m月%d日 %H:%M") %>
          </p>
          <% if current_user && current_user != post.user %> 
            <div class="like-section mt-3">
              <% if current_user.liked_posts.exists?(post.id) %>
                <%= link_to post_like_path(post), method: :delete, class: 'btn btn-danger' do %>
                  <i class="fa-solid fa-circle-xmark"></i> いいね解除
                <% end %>
              <% else %>
              <%= link_to post_like_path(post), method: :post, class: 'btn btn-primary' do %>
                <i class="fa-solid fa-dumbbell"></i> いいね
              <% end %>
              <% end %>
            </div>
          <% end %>
          <div class="like-section mt-3">
            <span class="ms-2 fw-bold">いいね数: <%= post.likes.count %></span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
