<h1>投稿編集</h1>

<%= form_with model: @post, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content, '本文' %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <%= f.submit '更新する', class: 'btn btn-primary' %>
<% end %>
