<h1>新規投稿</h1>

<%= form_with model: @post, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content, '本文' %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image, '画像アップロード' %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>

  <%= f.submit '投稿する', class: 'btn btn-primary' %>
<% end %>
