<h1>ユーザー管理</h1>
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>作成日時</th>
      <th>アクション</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td>
          <%= link_to "削除", admin_user_path(user), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '⬅️ 戻る', admin_root_path, class: 'btn btn-secondary' %>